body {
  background: linear-gradient(to bottom, #0d0d2b, #18184d);
}

.coming-pad{
  padding-top: 810px;
}

.flex-reverse{
  flex-direction: row-reverse;
}

.connect-wallet{
  background-color: white!important;
  color: red!important;
  font-weight: bold!important;
  border-radius: 20px!important;
}

.font-bold{
  font-weight: bold;
}

.font-80{
  font-size: 80px;
}
.font-50{
  font-size: 50px;
}

.search-input{
  border-radius: 20px!important;
}

.accordion-button{
  border-radius: 20px!important;
  padding-top: 8px!important;
  padding-bottom: 8px!important;
  font-weight: bold!important;
}
.accordion-item{
  margin-top: 15px;
  background-color: transparent!important;
  border: 0px solid white!important;
}
.accordion-body{
  background-color: transparent!important;
  color: white;
}

.w-content{
  width: fit-content;
}

.search-pad{
  justify-content: end;
}
@media screen and (max-width: 768px) {  
  .search-pad{
    justify-content: center;
  }
}